<%= nested_form_for(@compartilhamento, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
    <% if @compartilhamento.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@compartilhamento.errors.count, "error") %> proibiram este compartilhamento de ser
            salvo:</h4>

          <ul>
            <% @compartilhamento.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :atracao_id, 'Atração', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.collection_select :atracao_id, @atracoes, :id, :nome, {:prompt => 'Escolha uma atração'}, {:class => "form-control chosen-select", :style => 'width: 200px;'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :pessoas, 'Pessoas', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <div class="panel panel-info">
          <div class="panel-heading">
            Compartilhar com
            <div class="actions" style="display: inline-block; float: right;">
              <%= f.link_to_add "<i class='glyphicon glyphicon-plus'></i> Adicionar outra pessoa".html_safe, :compartilhamentos_usuarios, :data => {:target => "#pessoas"}, :class => 'btn btn-default btn-xs' %>
            </div>
          </div>
          <table class="table table-striped table-bordered">
            <tbody id="pessoas">
            <%= f.fields_for :compartilhamentos_usuarios, :wrapper => false do |c| %>
                <tr class="fields">
                  <td><%= c.collection_select :usuario_id, @usuarios, :id, :nome, {:prompt => 'Escolha uma pessoa'}, {:class => "form-control"} %></td>
                  <td width="1%" style="text-align: center;">
                    <%= c.link_to_remove :class => 'btn btn-danger' do %>
                        <i class='glyphicon glyphicon-trash'></i>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :comentario, 'Comentário', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_area :comentario, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Salvar', :class => "btn btn-primary" %>
      </div>
    </div>
<% end %>