<div class="page-header">
  <%= link_to new_compartilhamento_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Novo Compartilhamento
  <% end %>
  <h1>Meus compartilhamentos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>

      <th>Compartilhado Com</th>

      <th>Comentario</th>

      <th width="1%">Mostrar</th>
      <th width="1%">Editar</th>
      <th width="1%">Apagar</th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @compartilhamentos) do |compartilhamento| %>

        <td><%= compartilhamento.compartilhado_com %></td>

        <td><%= compartilhamento.comentario %></td>

        <td style="text-align: center;"><%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, compartilhamento, :class => 'btn btn-info btn-sm' %></td>
        <td style="text-align: center;"><%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_compartilhamento_path(compartilhamento), :class => 'btn btn-warning btn-sm' %></td>
        <td style="text-align: center;"><%= link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, compartilhamento, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' %></td>
    <% end %>
    </tbody>
  </table>
</div>

<div class="page-header">
  <h1>Atrações compartilhadas comigo</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Atração</th>
      <th>Compartilhado por</th>
      <th>Comentário</th>
      <th>Já Assistiu?</th>
    </tr>
    </thead>
    <tbody>
    <%= content_tag_for(:tr, @compartilhamentos_comigo) do |compartilhamento| %>
        <td><%= compartilhamento.atracao.nome %></td>
        <td><%= compartilhamento.usuario.nome %></td>
        <td><%= compartilhamento.comentario %></td>
        <td><%= compartilhamento.compartilhamentos_usuarios.find_by(:usuario_id => current_usuario.id).assistida? %></td>
    <% end %>
    </tbody>
  </table>
</div>
