<div class="page-header">
  <%= link_to compartilhamentos_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
  <% end %>
  <h1>Novo compartilhamento</h1>
</div>

<%= render 'form' %>
