<div class="page-header">
  <%= link_to compartilhamentos_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
  <% end %>
  <%= link_to edit_compartilhamento_path(@compartilhamento), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Editar
  <% end %>
  <h1>Mostrar compartilhamento</h1>
</div>

<dl class="dl-horizontal">

  <dt>Compartilhado com:</dt>
  <dd><%= @compartilhamento.compartilhado_com %></dd>


  <dt>Comentario:</dt>
  <dd><%= @compartilhamento.comentario %></dd>


</dl>
