<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Atração</th>
      </tr>
      </thead>

      <tbody>
      <% @atracoes.each do |atracao| %>
          <tr>
            <td><%= atracao.nome %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>