<%= form_for(@atracao, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
    <% if @atracao.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
          <h4><%= pluralize(@atracao.errors.count, "error") %> proibiram esta atração de ser salva:</h4>

          <ul>
            <% @atracao.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group required">
          <%= f.label :nome, :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :nome, :class => "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group required">
          <%= f.label :tipo, :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.select :tipo, options_for_select(Atracao::TIPOS.collect { |t| [t[:label], t[:tipo]] }), {:include_blank => 'Escolha um tipo...'}, {:class => 'form-control'} %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group required">
          <%= f.label :midia, :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_field :midia, :class => "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.label :exibicao, :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <div class="input-group date" id="datetimepicker1">
              <%= f.text_field :exibicao, :class => "dt_picker form-control", :value => @atracao.exibicao_dt_picker %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-11">
        <%= f.submit 'Salvar', :class => "btn btn-primary" %>
      </div>
    </div>
<% end %>

<script>
    $(function () {
        $('.dt_picker').datetimepicker({
            format: 'DD/MM/YYYY HH:mm',
            sideBySide: true,
            minuteStepping: 15
        });
    });
</script>
