<div class="page-header">
  <h1>Descobrindo o gosto da galera!</h1>
</div>

<% @usuarios.each_with_index do |usuario, index| %>
    <div id="us_<%= usuario.id %>" class="panel panel-default">
      <div class="panel-heading">
        <b><%= usuario.nome %></b>

        <div class="actions" style="display: inline-block; float: right;">
          <%= link_to "<i class='glyphicon glyphicon-search'></i> Minhas atrações".html_safe, atracoes_do_usuario_atracaos_path(:usuario_id => usuario.id), :remote => true, :class => 'btn btn-default btn-xs' %>
        </div>
      </div>
    </div>
<% end %>