<div class="page-header">
  <%= link_to new_atracao_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Cadastrar Atração
  <% end %>
  <%= link_to explorar_atracaos_path, :class => 'btn btn-info' do %>
      <span class="glyphicon glyphicon-search"></span>
      Visualizar Atrações da Galera
  <% end %>
  <h1>Minhas atrações</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>

      <th>Nome</th>

      <th>Midia</th>

      <th>Exibicao</th>

      <th style="width: 100px;">Já assistiu?</th>
      <th width="1%">Compartilhar</th>
      <th width="1%">Editar</th>
      <th width="1%">Apagar</th>
    </tr>
    </thead>

    <tbody>
    <% @atracaos.each do |atracao, index| %>
        <tr>
          <td><%= atracao.nome %></td>

          <td><%= atracao.midia %></td>

          <td><%= l atracao.exibicao if atracao.exibicao %></td>

          <td style="text-align: center;">
            <%= atracao.assistida? %>
          </td>

          <td style="text-align: center;"><%= link_to "<i class='glyphicon glyphicon-user'></i>".html_safe, new_compartilhamento_path(:atracao_id => atracao.id), :class => 'btn btn-info btn-sm' %></td>
          <td style="text-align: center;"><%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_atracao_path(atracao), :class => 'btn btn-warning btn-sm' %></td>
          <td style="text-align: center;"><%= link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, atracao, method: :delete, data: {confirm: 'Você tem certeza?'}, :class => 'btn btn-danger btn-sm' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>