<div class="page-header">
  <%= link_to atracaos_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
  <% end %>
  <%= link_to edit_atracao_path(@atracao), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Editar
  <% end %>
  <h1>Mostrar atração</h1>
</div>

<dl class="dl-horizontal">

  <dt>Usuario:</dt>
  <dd><%= @atracao.usuario.nome %></dd>


  <dt>Nome:</dt>
  <dd><%= @atracao.nome %></dd>


  <dt>Midia:</dt>
  <dd><%= @atracao.midia %></dd>


  <dt>Exibicao:</dt>
  <dd><%= l @atracao.exibicao if @atracao.exibicao %></dd>


</dl>
