<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t('.sign_in', :default => "Sign in") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "form"}) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password, 'Senha' %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
        <% if devise_mapping.rememberable? %>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, 'Lembrar?', style: 'padding-left: 0;' %>
                </label>
              </div>
            </div>
        <% end %>
        <%= f.submit t('.sign_in', :default => "Sign in"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
