<div class="page-header">
  <%%= link_to new_<%= singular_table_name %>_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Cadastrar <%= human_name %>
  <%% end %>
  <h1>Listando <%= plural_table_name %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    <% attributes.each do |attribute| -%>
        <th><%= attribute.human_name %></th>
    <% end -%>
        <th width="1%">Mostrar</th>
        <th width="1%">Editar</th>
        <th width="1%">Apagar</th>
      </tr>
    </thead>

    <tbody>
      <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
    <% attributes.each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end -%>
        <td style="text-align: center;"><%%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, <%= singular_table_name %>, :class => 'btn btn-info btn-sm' %></td>
        <td style="text-align: center;"><%%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => 'btn btn-warning btn-sm' %></td>
        <td style="text-align: center;"><%%= link_to "<i class='glyphicon glyphicon-trash'></i>".html_safe, <%= singular_table_name %>, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-danger btn-sm' %></td>
      <%% end %>
    </tbody>
  </table>
</div>
