<%= form_for(@usuario, :html => {:class => "form-horizontal", :role => "form"}) do |f| %>
    <% if @usuario.errors.any? %>
        <div class="alert alert-danger alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4><%= pluralize(@usuario.errors.count, "error") %> proibiram este usuario de ser salvo:</h4>

          <ul>
            <% @usuario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">
      <%= f.label :nome, :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :nome, :class => "form-control" %>
      </div>
    </div>

    <% unless @usuario.id == current_usuario.id %>
        <div class="form-group">
          <%= f.label :admin, :class => "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.check_box :admin %>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Salvar', :class => "btn btn-primary" %>
      </div>
    </div>
<% end %>
