<div class="page-header">
  <h1>Listando usuários</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Nome</th>
      <th width="1%">Administrador</th>
      <th width="1%">Mostrar</th>
      <th width="1%">Editar</th>
    </tr>
    </thead>

    <tbody>
    <%= content_tag_for(:tr, @usuarios) do |usuario| %>
        <td><%= usuario.nome %></td>
        <td style="text-align: center;"><%= usuario.admin_to_s %></td>
        <td style="text-align: center;"><%= link_to "<i class='glyphicon glyphicon-search'></i>".html_safe, usuario, :class => 'btn btn-info btn-sm' %></td>
        <td style="text-align: center;"><%= link_to "<i class='glyphicon glyphicon-pencil'></i>".html_safe, edit_usuario_path(usuario), :class => 'btn btn-warning btn-sm' %></td>
    <% end %>
    </tbody>
  </table>
</div>