<div class="page-header">
  <%= link_to usuarios_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
  <% end %>
  <%= link_to edit_usuario_path(@usuario), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Editar
  <% end %>
  <h1>Mostrar usuario</h1>
</div>

<dl class="dl-horizontal">

  <dt>Nome:</dt>
  <dd><%= @usuario.nome %></dd>

  <dt>Administrador:</dt>
  <dd><%= @usuario.admin_to_s %></dd>


</dl>
